form .avatar{
    width: 120px;
    margin-bottom: 15px;
}
.navbar .container-avatar,
.pub_image .container-avatar{
    width: 40px;
    height: 40px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 15px;
}
.navbar .container-avatar img,
.pub_image .container-avatar img{
    height: 100%;
}

.pub_image{
    margin-bottom: 25px;
}

.pub_image .container-avatar{
    float: left;
    margin-right: 15px;
}
.pub_image .data-user{
    font-weight: bold;
    line-height: 35px;
}
.pub_image .data-user a{
    font-weight: bold;
    line-height: 35px;
}
.pub_image .nickname{
    color: gray;
}
.image-container{
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}
.image-container img{
    width: 100%;
}
.pub_image .card-body{
    padding: 0px;
}
.pub_image .description{
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 8px;
}
.pub_image .btn-comments{
    margin: 20px;
    margin-top: 0px;
    margin-left: 0px;
}
.likes{
    float: left;
    padding-left: 20px;
    padding-right: 10px;
}
.likes img{
    width: 20px;
}

.pub_image .commentss{
    padding: 20px;
}

.pub_image_detail{
    padding: 30px;
}
.number_likes{
    color: gray;
    font-size: 11px;
}

.profile-user{
    height: 200px;
    margin-bottom: 40px;
}
.profile-user .container-avatar{
    width: 200px;
    height: 200px;;
    border-radius: 900px;
    overflow: hidden;
    float: left;
}
.profile-user .container-avatar img{
    height: 100%;
}

.profile-user .user-info{
    float: left;
    padding-left: 30px; 
    padding-top: 60px;
}

.btn-search{
    margin-left: 0px;
    padding-left: 0px;
}